
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 92px 50px 96px 50px;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 13px;
  list-style: circle;
  list-style-position: inside;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  justify-self: end;
  font-size: 18px;
  font-style: normal;
}

.cover {
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__content {
  position: relative;
  z-index: 2;
}

.cover__title {
  font-size: 100px;
  letter-spacing: 30%;
  line-height: 1.15;
}

.aligned-text{
  
}