/*h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 92px 50px 96px 50px;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 13px;
  list-style: circle;
  list-style-position: inside;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  justify-self: end;
  font-size: 18px;
  font-style: normal;
}

.content {
  color: #fff;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1; 
} 

.cover__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100%;             
  min-height: 757px;  
}

.cover__title {
  font-size: 100px;
  letter-spacing: 0.3em;
  line-height: 1.15;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  gap: 107px;
  font-size: 22px;
  font-weight: 400;
  margin-top: auto;
}

.cover__description-text {
  word-spacing: 15px;
   text-transform: uppercase;
}

.bet-button {
  width: 256px;
  height: 51px;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
}

