.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.header__menu {
  font-size: 18px;
  font-weight: 400;
}

.header__links-list {
  display: flex;
  gap: 13px;
  list-style: circle;
  list-style-position: inside;
  text-underline-position: under;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-position: under;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 757px;
  display: flex;
}

.cover__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cover__title {
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 0.3em;
  padding: 165px 20px 0 50px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  padding-top: 20px;
}

.aligned-text_right {
  text-align: right;
  padding-top: 21px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 50px 50px 50px;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 19px;
  text-transform: uppercase;
  color: #fff;
  line-height: 28px;
  padding-bottom: 10px;
}

.bet-button {
  width: 256px;
  height: 51px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  border: solid;
  border-color: #fff;
  border-width: 1px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 41px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots {
  padding: 180px 24px 120px;
}

.lots__title {
  padding-left: 40px;
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  color: #fff;
  gap: 25px;
  padding-top: 28px;
}

.lots__card-list-item {
  min-height: 596px;
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-underline-position: under;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 1.2;
  margin-top: auto;
  margin-left: 0;
  margin-right: 0;
}

.lots__look-more-link {
  color: #000;
  font-size: 20px;
  text-decoration: underline;
  font-weight: normal;
  padding-left: 40px;
  padding-top: 30px;
  text-underline-position: under;
  text-decoration-skip-ink: none;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 50px;
}

.about__logo {
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 64px 45px 62px;
  margin-top: 35px;
  margin-left: 70px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  background-size: cover;
  background-position: center;
}

.about__title {
  padding-top: 136px;
  padding-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  width: 688px;
  font-size: 20px;
  line-height: 24px;
}

.about__text-separate {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 180px;
  margin-bottom: 82px;
}

.footer__address {
  font-size: 18px;
  font-style: normal;
  margin-left: 50px;
  line-height: 24.3px;
}

.footer__menu-list-item {
  font-size: 18px;
  text-underline-position: under;
  list-style: none;
  text-align: center;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 48px;
  margin-right: 50px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}