.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  font-size: 18px;
  font-weight: 400;
}

.header__links-list {
  display: flex;
  gap: 13px;
  list-style: circle;
  list-style-position: inside;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  width: 136px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
}

.content {
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
} 

.cover {
  position: relative;
  padding: 165px 50px 207px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 757px;
}

.cover__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.cover__title {
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  /*line-height: 1.15;
  letter-spacing: 0.3em;*/
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
} 

/*.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
   margin-top: auto;
}

.cover__description-text {
  word-spacing: 15px;
  text-transform: uppercase;
}

.bet-button {
  width: 256px;
  height: 51px;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  font: inherit;
  cursor: pointer;
}

.lots {
  padding: 180px 24px 120px 24px;
}

.lots__title {
  padding: 180px 27px 40px;
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 27px;
  height: 100%;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  margin-top: auto;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  color: #000;
  font-size: 20px;
  text-decoration: underline;
  padding-top: 30px;
  padding-left: 30px;
  font-weight: normal;
}